/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply some basic styling */
body {
	font-family: 'acumin-pro',sans-serif;
    font-size: 24px;
}

/* Navbar styles */
#navbar {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1000;
	background-color: rgba(255, 255, 255, 0.9);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #ddd;
	text-align: center;
}

#navbar a {
  display: inline-block;
  padding: 14px 16px;
  color: #333;
  text-align: center;
  text-decoration: none;
}

/* Logo styles */
.logo {
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
}

/* Burger icon styles */
.burger-icon {
  display: none;
  cursor: pointer;
  font-size: 1.5em;
  padding: 15px;
  position: relative;
  left: 20px;
  transition: left 0.5s; /* Transition for left property */
}

.burger-icon.close {
  left: 180px; /* Adjust as needed */
}

/* Sidebar styles */
.sidebar {
  height: 100%;
  width: 0;
  padding-top: 100px;
  padding-left: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.sidebar.close {
  width: 250px;
  padding-left: 20px;
}

.sidebar a {
  padding: 15px;
  text-decoration: none;
  color: #333;
  display: block;
  text-align: left;
}

.sidebar a:hover {
  background-color: #ddd;
}

/* Media query for mobile */
@media screen and (max-width: 992px) {
  #navbar {
	text-align: left;
  }

  #navbar a {
	display: none;
  }

  .burger-icon {
	display: inline-block;
  }
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

/* Homepage */
/* ... Previous CSS code ... */
#home {
	padding-top: 100px;
    background-color: #f0f0f0;
    text-align: center;
}

.container {
	margin-bottom: 100px;
	padding: 0 20px;
}

.container:last-of-type {
	margin-bottom: 0;
}

.section-header {
	margin-bottom: 20px;
}

.homepage-content {
    display: flex;
	flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.homepage-content img {
    max-width: 1000px;
	width: 100%;
    height: auto;
}

.homepage-text {
    padding: 50px;
}

.homepage-text h1 {
	font-size: 4.4rem;
    color: #333;
}

.homepage-text p {
    color: #666;
    margin-bottom: 20px;
}

/* Mobile friendly video */
.mobile-friendly-videos {
    background-color: #f0f0f0;
    text-align: center;
    color: #333;
}

.mobile-friendly-videos p {
    margin-bottom: 20px;
}

/* Style the video container */
.mobile-friendly-videos video {
    width: 100%;
    max-width: 1000px;
    display: block;
    margin: 0 auto;
    border: 2px solid #666;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #555;
}

/* Events */
.calendar {
	display: flex;
	justify-content: center;
	align-items: center;
    font-family: 'Kanit', sans-serif;
}

.calendar-base {
    width: 700px;
    height: 500px;
    border-radius: 0 20px 20px 0;
    background-color: white;
    color: black;
}

.year-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
	margin: 25px;
}

.year {
    color: #E8E8E8;
    font-size: 30px;
    float: right;
    font-weight: bold;
}

.triangle {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
	margin: 5px;
}

.triangle-left {
    border-right: 10px solid #E8E8E8;
}

.triangle-right {
    border-left: 10px solid #E8E8E8;
}

.triangle-left:hover {
    border-right: 10px solid#2ECC71;
}

.triangle-right:hover {
    border-left: 10px solid#2ECC71;
}

.month-color {
    color: #27AE60;
}

.month-hover:hover {
    color: #27e879 !important;
}

.months {
	margin-top: 50px;
    padding-bottom: 10px;
    color: #AAAAAA;
    word-spacing: 10px;
}

.month-line {
    border-color: #E8E8E8;
    width: 90%;
	margin: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 2px;
    width: 100%;
}

.days,
.num-dates {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 55px;
    font-weight: bold;
}

.active-day {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #2ECC71;
	color: white;
	line-height: 45px;
	font-weight: bold;
}

.grey {
    color: #AAAAB1;
}

.calendar-left {
    width: 300px;
    height: 500px;
    border-radius: 20px 0px 0px 20px;
    background-color: #2ECC71;
    color: white;
}

.num-date {
    font-size: 150px;
    width: 50%;
    margin: 0 auto;
    font-weight: 700;
}

.day {
    width: 50%;
    margin: 0px auto;
    font-size: 30px;
}

.current-events {
    font-size: 15px;
    margin-left: 25px;
}

.posts {
    text-decoration: underline dotted;
}

.posts:hover {
    color: #27e879 !important;
}

@media screen and (max-width: 992px) {
	/* Events */
	.calendar {
		flex-direction: column-reverse;
	}

	.calendar-base {
		width: 750px;
		border-radius: 20px 20px 0 0;
	}

	.calendar-left {
		height: auto;
		width: 750px;
		padding: 20px;
		border-radius: 0 0 20px 20px;
	}
}

/* Cars */

.cars .swiper-wrapper {
	width: 2000px;
}

.card {
    width: 600px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

.card img {
    max-width: 100%;
    height: auto;
}

.card h3 {
    margin: 10px 0;
}

.card p {
    color: #666;
    margin: 5px 0;
}

.card:hover {
    transform: scale(1.05);
}

/* Add Swiper styles */
.swiper-container {
    width: 100%;
	overflow: hidden;
}

.swiper-slide {
	width: auto !important;
    text-align: center;
}

.swiper-pagination {
	position: static;
    margin-top: 10px;
}

/* Reviews */
.reviews .swiper-slide {
	border-radius: 10px;
}

.review-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 768px;
}

.author {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 5px;
}

.date {
  font-size: 0.8em;
  color: #7f8c8d;
  margin-bottom: 10px;
}

.rating {
  color: #f39c12;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.description {
  text-align: justify;
  margin-bottom: 15px;
}

.pros-cons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 0.9em;
}

.pros,
.cons {
  margin-top: 10px;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}

.pros {
  color: #2ecc71;
  background-color: #e8f6e8;
}

.cons {
  color: #e74c3c;
  background-color: #f9e8e8;
}

/* Load More Button Styles */
.load-more-btn {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
}

.load-more-card {
	min-height: 300px;
	display: flex;
	justify-content: center;
    align-items: center;
}

.load-more-btn:hover {
  background-color: #2980b9;
}

.is-loading {
	margin: auto;
}

/* Loading card */
.review-card.is-loading div {
  height: 2em;
  width: 100%;
  background: #eee;
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  border-radius: 5px;
  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

/* Social media */
.social-media {
    text-align: center;
    padding: 40px 0;
    background-color: #fff;
}

.social-icons img {
    width: 40px;
    margin: 0 10px;
}
